* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
html {
  background-color: rgb(244, 238, 230);
}
/*** menu ***/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}
header .logo a {
  color: #333333;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}
header .logo a:hover {
  color: rgb(236, 145, 9);
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: rgb(236, 145, 9);
}

/*** foooter ***/
footer {
  background-color: white;
  padding: 4rem;
}
main {
  margin: 4rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding-bottom: 3rem;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgb(244, 239, 239);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: grey;
}

a:hover {
  color: rgb(236, 145, 9);
}
.grid_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 4rem;
}
.knap1 {
  border: double 4px;
  border-radius: 20px;
  border-color: rgb(236, 145, 9);
  text-decoration: none;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: large;
  padding: 2rem;
  cursor: pointer;
  max-width: 350px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 5;
  gap: 20px;
}

.box {
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  gap: 10px;
  position: relative;
}

.discount {
  position: absolute;
  background-color: rgb(255, 251, 0);
  padding: 1rem;
  top: 90%;
  left: 72%;
}

.discount p {
  font-size: 1.2rem;
}

.sold {
  position: absolute;
  background-color: rgb(66, 65, 65);
  padding: 2rem;
  color: white;
  font-size: 2rem;
  opacity: 70%;
  top: 30%;
  left: 14%;
}

.box2 {
  line-height: 2rem;
}

.box3 {
  background-color: rgb(210, 209, 209);
  padding: 2rem;
  line-height: 2rem;
  /* display: flex;
  flex-direction: column; */
  max-width: 300px;
}

.box3 h2 {
  font-size: 2rem;
}
